<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="5 minutes">
    <contextName>cat-fsai-cc</contextName>
   

    <!-- 日志文件存储路径 -->
    <property name="LOG_HOME" value="logs/" />

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    	 <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <layout class="ch.qos.logback.classic.PatternLayout">          
              <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %class{20}:\(%line\) | %msg%n</pattern>
        </layout>
    </appender>

    <!-- Info -->
    <appender name="info"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info/fsai-cat-info.log</file>
         <!--<appender>true</appender>
       	<Encoding>UTF-8</Encoding>-->
		 <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
		
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <!-- 每小时生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/fsai-cat.%d{yyyy-MM-dd}-info.log.gz
            </fileNamePattern>
            <!-- 日志文件保留15天 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %class{20}:\(%line\) | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Debug -->
    <appender name="debug"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/debug/fsai-cat-debug.log</file>
        <!--<appender>true</appender>
        <Encoding>UTF-8</Encoding>-->
		 <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
		
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <!-- 每小时生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/debug/fsai-cat.%d{yyyy-MM-dd}-debug.log.gz
            </fileNamePattern>
            <!-- 日志文件保留15天 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %class{20}:\(%line\)  | %msg%n</pattern>
        </encoder>
    </appender>     
     <!-- warn -->
    <appender name="warn"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/warn/fsai-cat-warn.log</file>
        <!--<appender>true</appender>
        <Encoding>UTF-8</Encoding>-->
		 <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/warn/fsai-cat.%d{yyyy-MM-dd}-warn.log.gz
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %class{20}:\(%line\)  | %msg%n</pattern>
        </encoder>
    </appender>
   
    <!-- Error -->
    <appender name="error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error/fsai-cat-error.log</file>
        <!--<appender>true</appender>
        <Encoding>UTF-8</Encoding>-->
		 <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error/fsai-cat.%d{yyyy-MM-dd}-error.log.gz
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %class{20}:\(%line\)  | %msg%n</pattern>
        </encoder>
    </appender>
    
     <!-- bcx -->
    <appender name="bcx"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/bcx/aex-bcx.log</file>
        <!--<appender>true</appender>
        <Encoding>UTF-8</Encoding>-->
		 <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/bcx/aex-bcx.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %class{20}:\(%line\)  | %msg%n</pattern>
        </encoder>
    </appender>


    <!-- 异步日志配置 -->
    <appender name="info_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="info" />
    </appender>

    <appender name="debug_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="debug" />
    </appender>
    
     <appender name="warn_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="warn" />
    </appender>  

    <appender name="error_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="error" />
    </appender>
    
    <appender name="bcx_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="bcx" />
    </appender>
    
   
   


	<logger level="info" name="com.cat.fsai.task.AexBcxTask" additivity="false">
        <!-- 去除错误日志 -->
        <appender-ref ref="bcx_async"/>
        <appender-ref ref="stdout" />        

    </logger>
    
    <logger level="debug" name="com.cat.fsai"  additivity="true">
    	 <appender-ref ref="stdout" />        
        <appender-ref ref="info_async" />       
        <appender-ref ref="warn_async" />    
        <appender-ref ref="error_async" />      
    </logger>
 

</configuration>